@mixin flex($position,$justify){
  display: flex;
  justify-content: $justify;
  position: $position;
}
main {
  .box {
    top: 90%;
    .icon {
    @include flex(absolute,space-around );
      padding: 120px 30px;
      background-color: #f2f5f8;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
      position: relative;
      top: 180px;

      .boxx {
        width: 500px;
        height: 130px;
        background-color: #ffffff;
        display: flex;
        border-radius: 20px;
        position: relative;

        h3 {
          font-size: 20px;
          color: #3f3f3f;
          width: 150px;
        }

        p {
          position: absolute;
          right: 70px;
          padding-top: 40px;
          font-size: 20px;
          color: #3f3f3f;
        }
      }

      .item {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
      }
    }
  }
}
