@mixin box($display,$justify-content){
  display: $display;
  justify-content: $justify-content;
}
main {
  .box {
    top: 90%;
    .icon {
    @include box(flex,space-around);
    position: absolute;
      padding: 120px 30px;
      background-color: #f2f5f8;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
      position: relative;
      top: 180px;

      .boxx {
        width: 500px;
        height: 130px;
        background-color: #ffffff;
        display: flex;
        border-radius: 20px;
        position: relative;

        h3 {
          font-size: 20px;
          color: #3f3f3f;
          width: 150px;
        }

        p {
          position: absolute;
          right: 70px;
          padding-top: 40px;
          font-size: 20px;
          color: #3f3f3f;
        }
      }

      .item {
            @include box(flex,center);
        align-self: center;
        flex-direction: column;
      }
    }
  }
}
