header{
    input{
        position: absolute;
        top: 68%;
        right: 31%;
        border: none;
        outline: none;
        width: 300px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        border: 2px solid white;
        background-color: transparent;
        border-top: white;
        border-left: white;
        border-right: white;
    }
}