* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir.woff2);
}
body {
  font-family: vazir;
  direction: rtl;
}

header nav .sd {
  display: inline-block;
  position: relative;
}
header nav .sd :hover .qw {
  display: block;
}
header nav .qw {
  position: absolute;
  display: none;
  width: 220px;
  height: 400px;
  border-radius: 10px;
  background-color: white;
  z-index: 1;
  right: -6vh;
  outline: black;
  border: 2px solid black;
  margin-bottom: 100px;
}
header nav .qw a {
  position: relative;
  right: 10%;
  color: rgb(0, 0, 0);
}
header nav .qw a :hover {
  color: rgb(23, 243, 107);
}
header nav .nm {
  position: relative;
  display: inline-block;
}
header nav .nm :hover .kk {
  display: block;
}
header nav .kk {
  position: absolute;
  display: none;
  width: 200px;
  height: 110px;
  border-radius: 10px;
  background-color: white;
  z-index: 1;
  outline: black;
  border: 2px solid black;
}
header nav .kk a {
  position: relative;
  right: 8%;
  color: rgb(0, 0, 0);
}
header nav .kk a :hover {
  color: rgb(23, 243, 107);
}
header nav ul img.s {
  width: 200px;
  height: 40px;
}
header nav ul li {
  position: relative;
  display: inline-block;
  margin: 30px;
  font-size: 20px;
}

header input {
  position: absolute;
  top: 68%;
  right: 31%;
  border: none;
  outline: none;
  width: 300px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  border: 2px solid white;
  background-color: transparent;
  border-top: white;
  border-left: white;
  border-right: white;
}

header a {
  color: black;
}
header ul.kk li {
  position: relative;
  display: inline-block;
  top: 70vh;
  margin-left: 100px;
  right: 9%;
}
header .d {
  position: absolute;
  left: 0;
  width: 50%;
  top: 12%;
}
header .s1 {
  position: absolute;
  top: 12%;
  width: 50%;
  right: 0;
  height: 535px;
  background-color: rgb(2, 197, 106);
  color: white;
}
header .s1 .rr {
  position: absolute;
  top: 83%;
  left: 40%;
  font-size: 20px;
  width: 300px;
  height: 60px;
  border: 1px solid white;
  text-align: center;
  padding: 11px;
  border-radius: 10px;
  color: white;
}
header .s1 .h {
  position: absolute;
  width: 200px;
  height: 60px;
  color: rgb(2, 197, 106);
  background-color: white;
  top: 69%;
  right: 70%;
  text-align: center;
  padding: 13px;
  border-radius: 10px;
  font-size: 23px;
}
header .s1 h1 {
  position: absolute;
  top: 10%;
  text-align: center;
  right: 25%;
  font-size: 50px;
}
header .s1 p {
  position: absolute;
  top: 47%;
  right: 28%;
  font-size: 27px;
}

main .box {
  position: absolute;
  top: 90%;
}
main .box .icon {
  padding: 120px 30px;
  background-color: #f2f5f8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 180px;
}
main .box .icon .boxx {
  width: 500px;
  height: 130px;
  background-color: #ffffff;
  display: flex;
  border-radius: 20px;
  position: relative;
}
main .box .icon .boxx h3 {
  font-size: 20px;
  color: #3f3f3f;
  width: 150px;
}
main .box .icon .boxx p {
  position: absolute;
  right: 70px;
  padding-top: 40px;
  font-size: 20px;
  color: #3f3f3f;
}
main .box .icon .item {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
